extends ./layout/index 

block slider 
    .slider     
        h1 Rio de Janeiro 
        em aventura 
block contenido   
    main.container.mt-5 
        h2.text-center.mb-5 Sobre Nosotros 
        .row.mb-5 
            .col-md-6 
                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam velit asperiores minus quos quisquam consectetur, nulla quam aliquid, Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, quibusdam. Odit laudantium excepturi, dolores eveniet laborum consectetur vel doloribus ullam quisquam impedit voluptate est mollitia iusto, esse vitae sint minima. sequi, vero cum quo eaque. Laudantium magnam in praesentium veniam sapiente. Modi?
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis accusamus eaque dolor iusto facere modi qui dolore eius laborum esse, porro possimus enim quia tempora mollitia quisquam architecto minima sed?
            .col-md-6 
                img(src="/img/inicio_nosotros.jpg", alt="nosotros", class="img-fluid")

        include ./layout/bloque_viajes            

    .descuento      
        .container  
            .row 
                .col-md-6 
                    .contenido 
                        h3 5% de Descuento 
                        p.titulo Viaje a Canada 
                        p.fecha 20 de Marzo de 2022 - 28 de Marzo de 2022
                        p.precio $2,500 USD

    .container 
        h2.mt-5.text-center Testimoniales
        include ./layout/bloque_testimoniales            
                    