extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="nosotros", class="img-fluid")
            .col-md-7
                h1= pagina                
                blockquote  Descubra una nueva dimensión de viaje con nuestra agencia especializada en vuelos. Enfocados en brindar un servicio excepcional, nuestro equipo altamente capacitado se esfuerza por ofrecerle una variedad de opciones de vuelo que se adaptan a sus necesidades específicas. Nos enorgullece asociarnos con aerolíneas líderes para garantizar tarifas competitivas y una red global de destinos.

                p En nuestra agencia, entendemos la importancia de la personalización. Desde la reserva de boletos hasta la gestión detallada de su itinerario, estamos aquí para hacer que cada paso de su viaje sea eficiente y placentero. Permita que nuestra experiencia en la industria de la aviación le proporcione una experiencia de vuelo única y sin complicaciones. Viaje con nosotros y descubra un mundo de posibilidades.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row    
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p En nuestra agencia, su seguridad es nuestra prioridad principal. Trabajamos con aerolíneas y socios confiables, implementando medidas avanzadas para garantizar transacciones seguras. Desde la reserva hasta su regreso, puede confiar en nosotros para brindarle una experiencia de viaje protegida en todo moment

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Descubra los destinos más emocionantes con nosotros. Nuestro equipo apasionado le ofrece sugerencias personalizadas y consejos expertos para asegurarle una experiencia inolvidable. Desde playas paradisíacas hasta ciudades vibrantes, estamos aquí para guiarlo hacia aventuras únicas.

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p Buscamos la mejor relación calidad-precio para usted. Trabajamos directamente con aerolíneas y proveedores, ofreciendo tarifas competitivas sin comprometer la excelencia en el servicio. Con opciones flexibles para adaptarse a diferentes presupuestos, hacemos que sus sueños de viaje sean asequibles y accesibles.
