extends ./layout/index 

block contenido   
    main.container.mt-5 
        .row 
           .col-md-5 
                img(src="img/nosotros.jpg", alt="nosotros", class="img-fluid")   
           .col-md-7 
            h1 #{pagina} 
            blockquote  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum eos, ducimus eligendi placeat ullam facilis. Qui assumenda iure ab eligendi eveniet quam natus ipsam, voluptatum quia, delectus, dolorum tempore debitis? Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium ex a minus doloribus corporis, quia, quos tempore commodi distinctio veritatis, quae sapiente animi? Totam deleniti necessitatibus facilis neque expedita nobis?
            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti sequi ullam suscipit adipisci sed pariatur quis veritatis fuga dolor facere eum ipsa, ratione eligendi, culpa qui quaerat. Veritatis, voluptas voluptatem?
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo est, doloribus, culpa explicabo distinctio soluta assumenda dicta at pariatur cumque obcaecati necessitatibus ipsam quidem aut doloremque voluptas incidunt eligendi illo.
    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo earum aliquam natus nesciunt iste et tempora, minus repudiandae asperiores ratione magnam dolore est quos necessitatibus, sed libero! Quod, in necessitatibus.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="destino", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo earum aliquam natus nesciunt iste et tempora, minus repudiandae asperiores ratione magnam dolore est quos necessitatibus, sed libero! Quod, in necessitatibus.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo earum aliquam natus nesciunt iste et tempora, minus repudiandae asperiores ratione magnam dolore est quos necessitatibus, sed libero! Quod, in necessitatibus.